<div class="container-fluid" id="main-display">

  <div class="row" id="row-display">
    <div class="col-lg-12 col-xs-12" id="line-holder-display">

    </div>
  </div>
</div>
<div id="shade-loading-display">The script is now loading...</div>

<%= render "shared/js_global_injection" %>