<div class="container-fluid" id="main-display">

<div class="row" id="row-display">
  <div class="col-lg-12 col-xs-12" id="line-holder-display">
  	<div class="line-display" id="line-display-0" data-sequence="0">
      <span class="line-full-display">
        <span class="line-char-display"></span>
        <span class="line-content-display"></span>
      </span>
    </div>
    <!-- rest of the lines go here -->
  </div>
</div>
</div>

<div id="shade-single"></div>
<div id="shade-loading-display">The script is now loading...</div>

<%= render "shared/js_global_injection" %>