

<button id="Prev"><<</button><button id="Next">>></button><br>


<div class="container-fluid">

 <% counter = 0 %>
 <% @atext.each do |q| %>
  <span hidden = "hidden" id=<%= counter %>> <%= q.content_text.to_s %></span>
  <% counter = counter + 1 %>
 <% end %>
</div>

<script language="javascript" type="text/javascript">

//Store the current position in HTML 5 localStorage

if (localStorage["position"] > 0){

    //localStorage.setItem("position", 0);

  }
else {

    localStorage.setItem("position", 0);
}

var currline = localStorage["position"]

$( "#" + localStorage["position"] ).show( "slow", function() {});


$( "#Next" ).click(function() {
  strcurr = "#" + currline
  strprev = "#" + (currline - 1)
  $( strcurr ).show( "slow", function() {
  });
  $( strprev ).hide( "slow", function() {
  });
  localStorage.setItem("position", currline);
  currline++
});

$( "#Prev" ).click(function() {
  strcurr = "#" + currline
  strprev = "#" + (currline - 1)
  $( strcurr ).hide( "slow", function() {
  });
  $( strprev ).show( "slow", function() {
  });
  currline--
  localStorage.setItem("position", currline);
});

</script>
