  <div id="multi-flag-display" style="display:none"></div>


  <div class="container-fluid" id="main-display">
    <div class="row" id="row-display-multi">
      <div id="buffer-top-display-multi"></div>
      <div class="col-lg-12 col-xs-12" id="line-holder-display-multi">

      </div>
      <div id="buffer-bottom-display-multi"></div>

    </div>

  </div>
    <div id="shade-multi"></div>
    <div id="shade-loading-display">The script is now loading...</div>

   <div id="gradient-top-display-multi" class="grad-shades-display-multi">
   </div>
   <!--
   <div id="gradient-bottom-display-multi" class="grad-shades-display-multi">
   </div-->
  <%= javascript_tag do %>
    var operator= '<%=@operator%>'
  <%end%>
  <%= render "shared/js_global_injection" %>

