<div class="container" id="main-upload">
  <div id="display-select-wrapper" class="col-xs-12 col-sm-12 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
    <%= content_tag :div, :id=>"main-form-upload", :class=>"row" do %>

        <span id="title-display">Select An Operator</span>
        <div id="select_display_op">
            <% @operators.each do |operator| %>
            <% work = Work.find_by(id: operator.work_id) %>
            <% venue = work.venue %>
            <%= link_to "#{operator.name} | #{work.name}", display_select_path(:selected_operator =>operator.id), method: :post%>
            </br>
          <% end %>
        </div>

    <% end %>
  </div>
</div>
