<div class="container" id="main-work">
  <div id="work-wrapper" class="col-xs-12 col-sm-12 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
    <span id="title-work">Select the script to edit</span>
    <!--**********************************************
    creates the form for selecting the play to edit.
    *****************************************************-->
    <% if @works.blank? %>
     <p>No works to display.</p>
    <% else %>
      <ul id="works">
        <% @works.each do |work| %>
          <li>
            <% if work.texts.present? %>
              <% if work.uploading != true %>
                <%= link_to work_details(work), work_texts_path(work_id: work.id) %>
              <% else %>
                <%= work_details(work) %> (uploading...)
              <% end %>
            <% else %>
              <%= work_details(work) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
