<div class="container" id="main-work">
  <div id="work-wrapper" class="col-xs-12 col-sm-12 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
    <span id="title-work">Select a script to edit</span>
    <% if @works.blank? %>
      <p>No works to display.</p>
    <% else %>
      <div id="works" class="list-group">
        <% @works.each do |work| %>
            <% if work.texts.present? %>
                <%= link_to work_details(work), work_texts_path(work_id: work.id), class: "list-group-item" %>
            <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
