<div class="container" id="main-work">
  <div id="work-wrapper" class="col-xs-12 col-sm-12 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
    <span id="title-work">Select a script to edit</span>
    <% if @works.blank? %>
      <p>No works to display.</p>
    <% else %>
      <ul id="works" class="list-group">
        <% @works.each do |work| %>
            <% if work.texts.present? %>
                <li class="list-group-item clearfix">
                    <%= link_to work_details(work), work_texts_path(work.id) %>
                    <span class="pull-right">
                        <%= button_to edit_work_path(work.id), class: "btn btn-xs btn-primary", method: "get" do %>
                            Settings
                        <% end %>
                    </span>
                </li>
            <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
