<h1>Select the script to edit</h1>
<!--creates the form for selecting the play to edit.
this currently posts the id of the script selected (currently just posts to itself-->
<%= form_tag do %>

 <%= select_tag(options_from_collection_for_select(Work.all, :id, :name)) %>
  <%= submit_tag("Edit Script") %>
<% end %>

