<script type="text/template" id="line-template-operator">
	<div class="line-operator" id="line-operator-{{= sequence }}" data-sequence="{{= sequence }}" data-visibility="{{= visibility }}">
		<span class="char-hl-operator">
			{{= character }} 
		</span> 
		{{= content_text }}
	</div>
</script>

<script type="text/template" id="line-template-display">
	<div class="line-display" id="line-display-{{= sequence }}" data-sequence="{{= sequence}}">
		<span class="line-full-display">
			<span class="line-char-display"> 
				{{= character }} 
			</span> 
			<span class="line-content-display"> 
				{{= content_text }} 
			</span>
		</span>
	</div>
</script>

<script type="text/template" id="line-template-display-multi">
	<div class="line-display-multi" id="line-display-{{= sequence }}" data-sequence="{{= sequence}}">
		<span class="line-full-display">
			<span class="line-char-display"> 
				{{= character }} 
			</span> 
			<span class="line-content-display"> 
				{{= content_text }} 
			</span>
		</span>
	</div>
</script>