<body id="body-index-cast" class="body-cast">

	<div class="container-fluid" id="main-cast">
		<div class="row" id="row-top-cast">
			<span id="title-cast">
				Welcome to CaptionCast
			</span>
		</div>
		<div class="row" id="row-cast">
			<div class="col-lg-3 col-md-6 col-xs-12 button-cast" id="display-button-cast">
				<a href="/display/select" border="0">
				<div>
					<span class="glyphicon glyphicon-eye-open">
					</span>
					<span class="button-title-cast">Display</span>
				</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-xs-12 button-cast" id="operator-button-cast">
				<a href="/operator/select" border="0">
				<div>
					<span class="glyphicon glyphicon-hand-up">
					</span>
					<span class="button-title-cast">Operate</span>
				</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-xs-12 button-cast" id="editor-button-cast">
				<a href="/editor/index" border="0">
				<div>
					<span class="glyphicon glyphicon-pencil">
					</span>
					<span class="button-title-cast">Edit</span>
				</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-xs-12 button-cast" id="upload-button-cast">
				<a href="/upload/index" border="0">
				<div>
					<span class="glyphicon glyphicon-upload">
					</span>
					<span class="button-title-cast">Upload</span>
				</div>
				</a>
			</div>
		</div>
	</div>
</body>
