<div id="multi-flag-display" style="display:none"></div>

<div class="container-fluid" id="main-display">
  <div class="row" id="row-display-multi">
    <div id="buffer-top-display-multi"></div>
    <div class="col-lg-12 col-xs-12" id="line-holder-display-multi">
      <div class="line-display-multi" id="line-display-0" data-sequence="0">
      	<span class="line-full-display">
      		<span class="line-char-display"></span>
      		<span class="line-content-display"><br></span>
      	</span>
      </div>
    </div>
    <div id="buffer-bottom-display-multi"></div>
  </div>
</div>

<div class="container-fluid" id="main-preview">
  <div class="row" id="row-preview">
    <div id="buffer-top-preview"></div>
    <div class="col-lg-12 col-xs-12" id="line-holder-preview">
      <div class="line-preview" id="line-preview-0" data-sequence="0">
      	<span class="line-full-preview">
        	<span class="line-char-preview"></span>
        	<span class="line-content-preview"></span>
        </span>
      </div>
    </div>
  </div>
</div>