<script>
	//below is the real data
	//var lines = <%= raw @jtext %>
	//this is the fixture data
	// how do I store this inside of localstorage?

</script>

<div class="container-fluid" id="main-operator">

	<div class="row" id="main-row-operator">
		<div class="col-md-3 col-xs-2" id="commit-column-operator">
			<span class="glyphicon glyphicon-play-circle" id="commit-button-operator">
			</span>
		</div> 
		<div class="col-md-9 col-xs-10" id="line-holder-operator">
			<div id="buffer-top-operator"></div> 
			<div id="line-holder-sub-operator">
				<!-- lines go here -->
			</div>
			<div id="buffer-bottom-operator"></div> 
		</div>
	</div>
<!--
	<h1>welcome to operator view</h1>
-->
</div>