<script>
	var viewMode= '<%= @view_mode %>';
	var work= '<%= @work %>';
</script>

<body id="body-ind-operator" class="body-operator">
	<%= render "shared/js_global_injection" %>
	<div class="container-fluid" id="main-operator">
		<div class="row" id="main-row-operator">
			<div class="col-md-3 col-xs-2" id="commit-column-operator">
				<div id="commit-button-operator">
					<span class="glyphicon glyphicon-play-circle" id="commit-icon-operator">
					</span>
				</div>
				<div id="preview-operator" data-visible="false">
					<div id="prev-holder-operator">
						<div id="prev-spinner-operator">Loading...</div>
						<iframe src="" frameBorder="0" scrolling="no"></iframe>
						
						<!--
						<div id="prev-operator">
							This is a line
						</div
						-->
					</div>
					<span id="previcon-operator" class="glyphicon glyphicon-eye-open"></span>

				</div>
				<div id="fforward-operator"data-visible="false">
					<div class="form-group" >
						<input type="text" placeholder="Skip to #"/>
					</div>
					<span id="fforward-icon-operator" class="glyphicon glyphicon-fast-forward"></span>
				</div>

			</div>
			<div class="col-md-9 col-xs-10" id="line-holder-operator">
				<div id="up-button-operator" class="wide-button-operator">
					<span class="glyphicon glyphicon-chevron-up"></span>
				</div>
				<div id="down-button-operator" class="wide-button-operator">
					<span class="glyphicon glyphicon-chevron-down"></span>
				</div>

				<div id="buffer-top-operator"></div>
				<div id="line-holder-sub-operator">
					<!-- lines go here -->
				</div>
				<div id="buffer-bottom-operator"></div>
			</div>
		</div>
		<!-- fixed interface items -->

	<div id="blackout-operator">
		<span id="blackout-icon-operator" class="glyphicon glyphicon-off blackout-off-operator"></span>
	</div>
	<div id="autocommit-operator">
		<span id="autocommit-icon-operator" class="glyphicon glyphicon-lock autocommit-on-operator"></span>
	</div>
	</div>
</body>
