// Place all the styles related to the operator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$targetcol: #9cbbe5;
$targettxt: #FEFEFE;
$currentcol: #DD6617;
$lighttgcol: #d5e1f2;
$xs-break: 992px;
$lg-break: 1400px;
$gen-btn-sz: 74px;
$gen-btn-pad: 10px;

@mixin centered{
	float:none;
	margin-left:auto;
	margin-right:auto;
}
@mixin vert-center{
	float:none;
	top:50%;
	transform: translateY(-50%);
}
@mixin gen-btn-style-operator{

	text-align:center;
	cursor:pointer;
 	background-color:$lighttgcol;
 	opacity:.9;


}
@mixin gen-btn-sizing-operator{
	width:$gen-btn-sz;
	height:$gen-btn-sz;
	padding:$gen-btn-pad;
}


#main-operator{
	height:100%;
	overflow:hidden;

}
#main-row-operator{

	height:100%;
}
#line-holder-operator{
	height:100%;
	overflow:auto;
}

#commit-column-operator{

	height:100%;
}
#commit-button-operator{
	position:relative;
	cursor:pointer;
	font-size:12em;
	text-align:center;
	width:100%;
	@include vert-center;
	@media only screen and (max-width:$xs-break){

		font-size:8em;
	}
	@media only screen and (min-width:$lg-break){
		font-size:18em;
	}

	color:$targetcol;
}

#commit-button-operator:active{
	color:$currentcol;
	font-weight:bold;
}

.line-operator{

	font-size:2.5em;
	padding:12px;
	cursor:pointer;
}
.target-operator{
	background-color:$targetcol;
	color:$targettxt;

}
.current-operator{
	color:$currentcol;
	font-weight:bold;
}

#buffer-top-operator, #buffer-bottom-operator{
	height:50%;

}

#line-holder-sub-operator{

}
#preview-operator{
	z-index:100;
	position:fixed;
	/*top:5px;*/
	top:-160px;
	left:5px;
	width:25%;
	height:225px;
	padding:5px;
	@include gen-btn-style-operator;

	iframe{

		width:100%;
	}
	@media only screen and (max-width:$xs-break){

		width:16.6%
	}

}

#previcon-operator{
	color:$targetcol;
	font-size:4em;
	cursor:pointer;
	padding-top:3px;

}

#blackout-operator{
	z-index:150;
	position:fixed;
	top:0px;
	@include gen-btn-sizing-operator;
	@include gen-btn-style-operator;
	right:20px;
}
#blackout-icon-operator{
	color:$targetcol;
	font-size:4em;
	cursor:pointer;


}