// Place all the styles related to the texts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body-texts{
  background-color: #082a36;
  color:#fff;
  margin-left:10px;
  margin-right:10px;
}
tr:nth-child(even){
    background-color: #154553;
}
tr:nth-child(odd){
    background-color: #073642;
}
td{
	max-width:350px;
}
.link-edit{
	color:#d33682;
	font-weight:600;
}

input[type="submit"]{
	background-color:#337ab7;
}
.above_limit{
	background-color:red;
}
