.body-works{
  background-color: #082a36;
  color:#fff;
  margin: 2%;
}
#supBlank, #boldIt{
  cursor:pointer;
}
#splitIt{
  color:blue;
  cursor:pointer;
}
span.glyphicon.glyphicon-eye-open{
  size: 75px;
}

.visi{
  color:#797979;
  cursor:pointer;
}

.visiTr{

  color:#000;
}
.edi{

  color:blue;
  cursor:pointer;
}
#notice{
  color:#2aa198;
  font-weight:bold;
}
input[type=submit]{
  clear:both;
  margin:3px;
}
h5{
  text-align: center;
}
#char_count, #char_allowed, #added_char_count {
  width: 50px;
  color:black;
}
#title-work {
  width: 100%;
  text-align: center;
  font-size: 3em;
  display: inline-block;
  padding: 20px;
  color: #f7e694;
  font-style: italic;
}
#works{
  list-style: none;
  .list-group-item {
    color: #000000;
  }
}
.white{
  color: #FFFFFF;
}
.glyphicon-cog {
    font-size: 42px;
    display: block;
    text-align: center;
    margin: 10px auto 20px;
    color: #fff;
}
