.form-control{
	width:75%;
}
#supBlank{

	color:blue;
	cursor:pointer;
}
#splitIt{

	color:blue;
	cursor:pointer;
}
span.glyphicon.glyphicon-eye-open{
	size: 75px;
}
tr:nth-child(even){
	  background-color: #dcdcdc;
}
tr:nth-child(odd){
	  background-color: #aaaaaa;
}

.visi{
	color:#797979;
	cursor:pointer;
}

.visiTr{
	
	color:#000;
}
.edi{
	
	color:blue;
	cursor:pointer;
}
#notice{
	color:red;
}