<div class="container" id="main-upload">
  <span class="glyphicon glyphicon-cog pull-right"></span><h2>Settings for <%= @work.name %></h2>
  <hr />
    <h2 class="form-title delete_item">Danger</h2>
      <% if @work.texts.present? and @work.uploading != true %>
          <%= link_to "Click to delete this script", works_deleteScript_path(work_id: @work.id), data: { confirm: "Are you sure you want to delete the script #{@work.name.upcase}"}, class: 'btn btn-danger' %>

      <% else %>
        <li>This work does not contain texts</li>
      <% end %>
</div>